<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>254612421464-oai27at40khu9kia33rtt9hjt1uc2vqi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.254612421464-oai27at40khu9kia33rtt9hjt1uc2vqi</string>
	<key>API_KEY</key>
	<string>AIzaSyD3LoXcxxIb0wuD0EmhnjDNkN5hP1jDMSw</string>
	<key>GCM_SENDER_ID</key>
	<string>254612421464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.transitx</string>
	<key>PROJECT_ID</key>
	<string>trxdemo-5f097</string>
	<key>STORAGE_BUCKET</key>
	<string>trxdemo-5f097.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254612421464:ios:4d9c3f0885bd0a6037032d</string>
</dict>
</plist>